parameters:
	level: 8
	bootstrapFiles:
		- .github/workflows/phpstan/autoload.php
	paths:
		- controllers
		- ps_shoppingcart.php
	ignoreErrors:
		- '#^Call to an undefined method AdminController|FrontController\:\:#'
		- '#^Call to an undefined method Module\:\:#'
